body {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    max-width: 1000px;
    height: 1000px;
}

table {
    margin:auto;
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

thead th {
    background-color: #303030;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}

thead tr {
    position: sticky;
    top: -1px;
    z-index: 1;
}

th,
td {
    border: 1px solid #c1c1c1;
    padding: 10px 8px;
    text-align: center;
    vertical-align: middle;
    color: black;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
}

tfoot td {
    background-color: #e0e0e0;
    font-weight: bold;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #ededed;
}
