body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.5;
}

/* web */
#titulo-web {
    color: darkred;
}

.titulo-menor-web {
    color: rgb(163, 0, 0);
}

.sub-titulo-web {
    color: rgb(167, 8, 8);
}

.paragrafo-web {
    color: rgb(133, 74, 74);
}

/* mobile */
#titulo-mobile {
    color: darkblue;
}

.titulo-menor-mobile {
    color: rgb(0, 71, 163);
}

.sub-titulo-mobile {
    color: rgb(8, 50, 167);
}

.paragrafo-mobile {
    color: rgb(74, 109, 133);
}

/* desktop */
#container-desktop h1{
    color: darkgreen;
}

#container-desktop h2{
    color: rgb(0, 97, 0);
}

#container-desktop h3{
    color: rgb(1, 54, 1);
}

#container-desktop p{
    color: rgb(5, 53, 5);
}
